In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# load 2017 dataset
df_2017 = pd.read_excel('Black_Friday_Dataset.xlsx', sheet_name='2017 Black Friday')
df_2017.head()

,User ID,Product Category,Gender,Age Range,City,Customer Source,Subscribed to Newsletter,CPA,Order Amount
0,1000001,Pets,F,18-25,San Jose,Blog,No,NaN,83.70
1,1000001,Pets,F,18-25,San Jose,Blog,No,NaN,10.57
2,1000001,Grocery,F,18-25,San Jose,Blog,No,NaN,128.42
3,1000001,Grocery,F,18-25,San Jose,Blog,No,NaN,14.22
4,1000001,Grocery,F,18-25,San Jose,Blog,No,NaN,152.00

In [17]:
# number of returned users for 2017
sum(df_2017['User ID'].value_counts() != 1)

1909

In [3]:
# load 2018 dataset
df_2018 = pd.read_excel('Black_Friday_Dataset.xlsx', sheet_name='2018 Black Friday')
df_2018.head()

,User ID,Product Category,Gender,Age Range,City,Customer Source,Subscribed to Newsletter,CPA,Order Amount
0,1002610,Grocery,M,46-50,San Antonio,Social,No,NaN,54.06
1,1002611,Toys,M,26-35,Chicago,Paid,No,13.0166,17.59
2,1002611,Pets,M,26-35,Chicago,Paid,No,64.5480,71.72
3,1002611,Grocery,M,26-35,Chicago,Paid,No,125.6157,80.01
4,1002611,Clothing,M,26-35,Chicago,Paid,No,14.3673,17.31

In [19]:
# number of returned users for 2018
sum(df_2018['User ID'].value_counts() != 1)

2589

In [20]:
# number of orders
df_2017.shape[0], df_2018.shape[0]

(17311, 22391)

In [21]:
df_2017['Order Amount'].describe()

count    17311.000000
mean        92.132970
std         49.004795
min          1.860000
25%         58.425000
50%         80.360000
75%        119.740000
max        239.580000
Name: Order Amount, dtype: float64

In [24]:
df_2018['Order Amount'].describe()

count    22391.000000
mean        93.449665
std         49.929574
min          1.850000
25%         58.800000
50%         80.630000
75%        120.910000
max        239.560000
Name: Order Amount, dtype: float64

In [29]:
# order amount
order_amount_2017 = df_2017['Order Amount'].sum().round()
order_amount_2018 = df_2018['Order Amount'].sum().round()
order_amount_2017, order_amount_2018

(1594910.0, 2092431.0)

In [30]:
# CPA
cpa_2017 = df_2017['CPA'].sum().round()
cpa_2018 = df_2018['CPA'].sum().round()
cpa_2017, cpa_2018

(607610.0, 837156.0)

In [ ]:
# revenue
revenue_2017 = order_amount_2017 - cpa_2017